.container {
  background-color: var(--blue);
  min-height: 100vh;
  height: 100vh;
  padding: 0 0 0 0;
  display: flex;
  align-items: stretch;
  transition: 0.3s background-color;
}

.container.first {
  background-color: var(--red);
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
}

.main h1 {
  font-size: 24px;
  width: 100%;
  text-align: left;
  padding: 1rem 2rem;
  position: relative;
  margin-bottom: 4rem;
  color: white;
  font-weight: normal;
  margin-top: 0;
}

.main h1::before {
  content: attr(data-player);
  position: absolute;
  left: -36%;
  bottom: -20px;
  transform: translateX(25%) rotate(-7.5deg);
  text-align: center;
  width: 100%;
}

.main h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 50%;
  height: 0;
  border-bottom: 2px solid white;
  transform: translateX(25%) rotate(-7.5deg);
}

.buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex: 1;
  padding-bottom: 2rem;
}

.button {
  background-color: transparent;
  transition: 0.3s all;
  border: 2px solid white;
  border-radius: 5px;
  padding: 0.5rem;
  color: white;
  min-width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button.disabled {
  opacity: 0.2;
  pointer-events: none;
}

.button.ended {
  border: 2px solid var(--wingreen);
  color: var(--wingreen);
}

.buttons .button {
  align-self: flex-end;
}

.questions {
  width: 100%;
  padding: 2rem;
  color: white;
}

.questions p {
  text-align: justify;
  margin: 0;
  font-size: 1.2rem;
}
